
*.aof
!.yarn/sdks
coverage
.yarn/*
lib64/
MANIFEST
.coverage.*
.nox/
.output
vite.config.js.timestamp-*
*.tgz
*.egg-info/
*.mo
cover/
nosetests.xml
.node_repl_history
__pycache__/
var/
.docusaurus
.fusebox/
*.cover
.pixi
local_settings.py
.cache/
ipython_config.py
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
vite.config.ts.timestamp-*
__pypackages__/
sdist/
*.spec
.ruff_cache/
node_modules/
*.egg
.Python
build/Release
yarn-error.log*
.nuxt
.mypy_cache/
dist
.installed.cfg
*.py[codz]
.dynamodb/
marimo/_static/
*.tsbuildinfo
env.bak/
.abstra/
*.lcov
npm-debug.log*
.tern-port
.temp
.pyre/
composer.phar
.stylelintcache
.scrapy
.yarn-integrity
pip-delete-this-directory.txt
cython_debug/
*.pdb
*$py.class
.eslintcache
.ropeproject
venv.bak/
.svelte-kit/
rabbitmq/
*.sage.py
.pytype/
.webassets-cache
wheels/
celerybeat.pid
**/*.rs.bk
.grunt
.spyderproject
bower_components
!.yarn/patches
dist/
.eggs/
**/.vitepress/dist
.hypothesis/
!.yarn/releases
*.pot
eggs/
**/mutants.out*/
!.yarn/versions
.pdm-build/
share/python-wheels/
db.sqlite3-journal
logs
.nyc_output
yarn-debug.log*
coverage.xml
activemq-data/
.envrc
*.py.cover
marimo/_lsp/
venv/
.streamlit/secrets.toml
*.seed
.vite/
.pybuilder/
.firebase/
.pytest_cache/
env/
__marimo__/
lib-cov
build/
out
*.so
develop-eggs/
htmlcov/
pids
!.env.example
target/
web_modules/
target
.lock-wscript
downloads/
.vscode-test
.ipynb_checkpoints
ENV/
.tox/
.dmypy.json
.env.*
**/.vitepress/cache
/site
db.sqlite3
*.log
.parcel-cache
*.manifest
docs/_build/
.vuepress/dist
.spyproject
.pypirc
profile_default/
pip-log.txt
*.pid.lock
*.pid
/vendor/
rabbitmq-data/
.pnp.*
.serverless/
parts/
debug
*.rdb
.npm
dmypy.json
.next
.coverage
lerna-debug.log*
jspm_packages/
!.yarn/plugins
celerybeat-schedule
.cache
.venv
lib/
mnesia/
.pdm-python
instance/
.env
# REFNOTE: created by technomantic spirit with selective ignorance and artistical resonance of the Saint Mission of Technomancers
# REFNOTE: this file (./.gitignore) was generated by selective_ignorance.sh 2025 by Sett Sarverott (https://gist.github.com/Sarverott/a9933eea3dd0e4fc54e8ff275bd79dcf under terms of CC BY-ND 4.0)
# REFNOTE: based on resources delivered from gitignore repo with templates by Github (https://github.com/github/gitignore under terms of CC0-1.0)
# REFNOTE: content of file have to contain this information REFNOTE to show respect for work of authors that gave opportunity to create this file
# REFNOTE: by casting spell `bash git python,node,composer,rust` for https://github.com/the-House-of-Anubis/imperial-possesable-cognitive-suite.git with  [UNIXUSAT=1764503436379]
# REFNOTE: best regards and with goodluck charm casting
# REFNOTE:    ~Apokryf Institute of Technomantic Research
